{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twinsaysgoandcome</title>
  <link rel="icon" type="favicon.ico" href="/images/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body class="container log_in_mainsec">



  <section class="row col-lg-7 m-5 pt-2 rounded bg-white">

    <a class="text-primary link-underline-opacity-0 link-underline " href='/'>
      << Return to home</a>

        <div>
          <h3 class="text-center main_text my-3">Here you are, Log in to book your traveling<h3>
        </div>

        <form class="form-horizontal px-4 mt-4" action="{% url 'login' %}" method="post">
          {% csrf_token %}

          <input type="text" class="form-control mb-3" name="username" placeholder="Username">


          <input type="password" class="form-control mb-4" name="password" placeholder="Your password">

          <div class="form-group row text-center">
            <div>
              <button type="submit" class="btn btn-primary mb-4 ps-4 pe-4">Log in</button>
            </div>
          </div>

          <p class="text-center">Not a member yet, <a class="text-primary" href="{% url 'register' %} "><b>Register
                now</b></a></p>

          <div>
            {% for message in messages%}
            <p class="mb-0 text-center text-danger"> {{message}} </p>
            {%endfor%}
          </div>

        </form>

  </section>
</body>

</html>